:root {
    --main-backgorund-color: #25274D;
    --second-backgorund-color: #3f4269;

    --title-color: #2E9CCA;
    --second-title-color: #29648A;

    --main-text-color: #fff;
    --second-text-color: #AAABB8;
}

html
,body {
    margin: 0;
    transition: 0.3s;
    background-color: var(--main-backgorund-color);
    color: var(--main-text-color);
}

ul, li { list-style: none; }
a { color: var(--main-text-color) }

/*COMMON SETTING*/
.title-color {
    color: var(--title-color)
}

.min-container {
    width: 1200px;
    margin: 0 auto;
}

.main-bg {
    background-color: var(--main-backgorund-color);
    color: var(--main-text-color);
    overflow: auto;
}

.seconed-bg {
    background-color: var(--second-backgorund-color);
    color: var(--main-text-color);
    overflow: auto;
}


/*HERO-NAV*/
.hero-nav {
    color: white;
    height: auto;
    border-bottom: 1px black solid;
    font-family: monospace;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero-title {
    color: white;
    font-weight: 700;
    margin: 0;
}

.hero-title a:hover {
    color: var(--title-color);
    text-decoration: none;
    transition: 0.2s;
}

.hero-nav ul {
    margin: 0;
    padding: 0;
}

.hero-nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
    
    line-height: 54px;
}

/*HERO*/
.home-hero {
    height: 90vh;
    max-width: 100%;
    background-image: url("../img/hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

/*WEB-INTRO*/
.web-intro {
    margin: auto;
    margin-bottom: 20px;
    min-width: 1200px;
    text-align: center;
}

/*FEATURED*/
.featured-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    
    padding: 30px 0;
}

.featured-post {
 
}

.featured-post img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-preview {
    padding: 10px;
}


/*POSTS*/
.page-title {
    color: var(--title-color);
    font-size: 3rem;
}

.post {
    /*margin-bottom: 30px;*/
    border: 1px black solid;    
}

.thumbnail {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post-content {
    padding: 10px;
}

.post-headline {
    color: var(--title-color);
}

.post-tag {
	display: inline-block;
	color: #fff;
    background-color: var(--title-color);
    border: 1px black solid;
	border-radius: 5px;
	padding: 2px 7px;
	font-size: 15px;	
}

.post-date {
    color: var(--second-text-color);
    padding: 10px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-bottom: 40px;
}

.mango-card {
    border: 1px solid black;
    background-color: var(--second-backgorund-color);
}

.mango-pagination {
    font-size: 1.5rem;
}


@media screen and (max-width: 1200px) {
    .min-container {
        width: 95%;
    }
}