:root {
    --main-backgorund-color: #25274D;
    --second-backgorund-color: #464866;

    --title-color: #2E9CCA;

    --main-text-color: #fff;
}

html
,body {
    margin: 0;
    background-color: var(--main-backgorund-color);
    color: var(--main-text-color);
}

ul, li { list-style: none; }
a { color: var(--main-text-color) }

/*COMMON SETTING*/
.title-color {
    color: var(--title-color)
}

.min-container {
    width: 1200px;
    margin: 0 auto;
}

.main-bg {
    background-color: var(--main-backgorund-color);
    color: var(--main-text-color);
    overflow: auto;
}

.seconed-bg {
    background-color: var(--second-backgorund-color);
    color: var(--main-text-color);
    overflow: auto;
}


/*HERO-NAV*/
.hero-nav {
    color: white;
    height: 90px;
    font-family: monospace;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

.hero-title {
    color: white;
    margin: 0;
}

.hero-nav ul {
    margin: 0;
    padding: 0;
}

.hero-nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
    font-weight: 700;
    line-height: 54px;
}

/*HERO*/
.home-hero {
    height: 90vh;
    max-width: 100%;
    background-image: url("../img/hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

/*WEB-INTRO*/
.web-intro {
    margin: auto;
    min-width: 1200px;
}



@media screen and (max-width: 1200px) {
    .min-container {
        width: 95%;
    }
}