<nav class="hero-nav">
    <div class="nav-content min-container">
        <h3 class="hero-title"><a href="{% url 'home' %}">Blog</a></h3>
        <ul>
            {% if request.user.is_authenticated %}
            <li class="signout"><a href="{% url 'signOut' %}">Sign out</a></li>
            {% else %}
            <li class="signin"><a href="{% url 'signIn' %}">Sign in</a></li>
            <li class="register"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>