{% extends "base.html" %}

{% block title %}My Posts{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'blog/navbar.html' %}

<div class="container">   
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-title my-4">Posts</h1>
            {% for post in posts %}
            <div class="post">
                <img src="{{post.thumbnail.url}}" class="thumbnail" alt="">
                <div class="p-3">
                    <h4 class="post-headline">{{ post.headline }}</h4>
                    <span>{{ post.body|slice:"0:100"|safe }}...</span>
                    <div class="mb-3">
                        {% for tag in post.tags.all %}
                        <span class="post-tag">{{tag}}</span>
                        {% endfor %}
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'post' post.slug %}" class="btn btn-primary post-btn">Read More...</a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'update_post' post.slug %}" class="btn btn-warning post-btn">Edit</a>
                        <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger post-btn">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <p class="post-date">Posted on {{ post.created|date:'M d Y' }} by <span style="color: #2E9CCA;">{{ post.sub_headline }}</span></p>
            
            {% endfor %}       
            <div class="pagination">
                <span class="step-links mango-pagination" style="margin: auto;">
                    {% if posts.has_previous %}
                        <!--<a href="?page=1">&laquo; first</a>-->
                        <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-secondary btn-color" role="button">previous</a>
                    {% endif %}
            
                    <span class="current">
                        {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-secondary btn-color" role="button">next</a>
                        <!--<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>-->
                    {% endif %}
                </span>
            </div>     
        </div>
        <div class="col-md-4 mt-5">

            <div class="card mango-card mb-5">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form action="" method="GET" style="padding: 5px;">
                        {{post_filter.form|crispy}}
                        <!--<input type="text" class="form-control" name="searchInput" id="searchInput" placeholder="Search for...">-->                        
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>

            <div class="card mango-card mb-5">
                <h5 class="card-header">Tag</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="">Python</a></li>
                                <li><a href="">Django</a></li>
                                <li><a href="">Poem</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="">HTML</a></li>
                                <li><a href="">CSS</a></li>
                                <li><a href="">JavaScripts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}